select.widthHeight::-webkit-scrollbar {
  width: 10px;
}

select.style::-webkit-scrollbar-track {
  border: rgb(180, 180, 180);
  background-color: #1b1b1b;
}

select.style::-webkit-scrollbar-thumb {
  background-color: #ff9505;
  border: 1px solid rgb(193, 193, 193);
}
